[submodule "Plugins/PlayFabUnreal/Source/PlayFabCore/PlatformSpecific/PlayStation"]
	path = Plugins/PlayFabUnreal/Source/PlayFabCore/PlatformSpecific/PlayStation
	url = https://PlayFabPrivate@dev.azure.com/PlayFabPrivate/PS5/_git/PlayFab.Unreal.PS
